* {
    font-size: 100%;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}
nav {
    display: flex;
    height: 50px;
    background-color: black;
    padding: 10px;
    border: 1px solid black;
}
img {
    width: 160px;
    height: auto;
}
.navigation {
    text-align: right;
    width: 100%;
}
.logo_undercover{
    width: 100%;
}
div > a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}